{% comment %} <form method="post">
    {% csrf_token %} {{ form.as_p}}
    <button type="submit">Create</button>
</form> {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Todo</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">

    <div class="bg-gray shadow-lg rounded-lg p-6 w-full max-w-md">
        <h2 class="text-xl font-semibold mb-4 text-blue-700 text-center">Create Todo</h2>

        <form method="post" class="space-y-4">
            {% csrf_token %}

            {{ form.as_p }}

            <button type="submit"
                    class="w-full bg-green-600 text-white py-2 rounded hover:bg-green-700 transition">
                Create
            </button>
        </form>
    </div>

</body>
</html>
